*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cinzaEscuro: #3e3e3e;
    --bancoPadrao: #e3e3e3;


}

body{
    font-family: 'Segoe UI';
    background-color: var(--bancoPadrao);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color:var(--bancoPadrao);
    max-width: 350px;
    width: 100%;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 4px 20px #00000042;
}

h1{
    color : var(--cinzaEscuro);
    font-size: 22px;
    margin-bottom: 20px;
}

.grupo-campos{
    display: flex;
    flex-direction: column;
}

.linha-dois-campos{
    display: flex;
    gap: 16px;
}

label{
font-size: 13px;
font-weight: 600;
color: var(--cinzaEscuro);
margin-top: 10px;

}

input[type="text"]{
    border: 2px solid  #7e7a7a;;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 12px;
    color: var(--cinzaEscuro);
    outline: none; /* Remover a borda quando form está em foco */
    width: 100%;


}  

input[type="text"]:focus {
    border: 2px solid #112f83;

}

input[readonly]{
    background-color:  #c7c0c0;;
    
}

input[readonly]:focus {
    border:  #726f6f;;
    
}
button{
    padding: 5px 10px;
    margin-top: 5px;
    background-color: #112f83 ;
    border: none;
    color: var(--bancoPadrao);
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
   
}
button:hover{
    background-color: #536ebe;
}
    